<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}StarCraft</title>
        <meta charset="utf8" />
        <link rel="icon" type="favicon" href="/assets/fav/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <a href="/">
                STARCRAFT
            </a>
            <nav>
                <center>
                <a href="/">Accueil</a>
                <a href="/terran">Terran</a>
                <a href="/protoss">Protoss</a>
                <a href="/zerg">Zerg</a>
                <a href="https://starcr​aft2.com/fr-fr​/"​ target="blank" class="site_off">Site Officiel</a>
                </center>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <img src="\assets\img\starcraft\starcraft_PNG74.png" alt="STARCRAFT" />
        </footer>
    </body>
</html>