<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}StarCraft</title>
        <meta charset="utf-8">
        <link rel="icon" type="favicon" href="/assets/fav/favicon.ico" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/home.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="/">STARCRAFT</a>
            <nav>
                <center>
                <a href="/">Accueil</a>
                <a href="/terran">Terran</a>
                <a href="/protoss">Protoss</a>
                <a href="/zerg">Zerg</a>
                <a href="https://starcraft2.com/fr-fr/" target="blank" class="site_off">Site Officiel</a>
                </center>
            </nav>
        </header>
        <main>
            <section>
                <a href="/terran" class="terran">TERRAN'S<br>UNITS<img class="img_terran" src="/assets/img/starcraft/image_vide.png" style="width:500px; height:500px" title="TERRAN" alt="TERRAN"></a>
                <a href="/protoss" class="protoss">PROTOSS'S<br>UNITS<img class="img_protoss" src="/assets/img/starcraft/image_vide.png" style="width:500px; height:500px" title="PROTOSS" alt="PROTOSS"></a>
                <a href="/zerg" class="zerg">ZERG'S<br>UNITS<img class="img_zerg" src="/assets/img/starcraft/image_vide.png" style="width:500px; height:500px" title="ZERG" alt="ZERG"></a>
            </section>
        </main>
        <footer>
            <img src="\assets\img\starcraft\starcraft_PNG74.png" alt="STARCRAFT" />
        </footer>
    </body>
</html>