{% extends 'base.twig' %}

{% block main %}
    <section>
        <h2>Terrans</h2>

        {% for terran in terrans %}
            <a href="/terran/{{ terran.slug }}">
                <figure>
                    <img src="{{ terran.avatar }}" alt="{{ terran.name }}" />
                    <figcaption>Discover the {{ terran.name }}</figcaption>
                </figure>
            </a>
        {% endfor %}
    </section>
{% endblock %}