{% extends 'base.twig' %}

{% block main %}
    <section>
        <h2>Zergs</h2>

        {% for zerg in zergs %}
            <a href="/zerg/{{ zerg.slug }}">
                <figure>
                    <img src="{{ zerg.avatar }}" alt="{{ zerg.name }}" />
                    <figcaption>Discover the {{ zerg.name }}</figcaption>
                </figure>
            </a>
        {% endfor %}
    </section>
{% endblock %}