{% extends 'base.twig' %}

{% block main %}
    <section>
        <h2>Protoss</h2>

        {% for protoss in protosss %}
            <a href="/protoss/{{ protoss.slug }}">
                <figure>
                    <img src="{{ protoss.avatar }}" alt="{{ protoss.name }}" />
                    <figcaption>Discover the {{ protoss.name }}</figcaption>
                </figure>
            </a>
        {% endfor %}
    </section>
{% endblock %}