@font-face {
    font-family: 'Starcraft';
    src: url('/assets/fonts/StarcraftNormal.ttf');
}
* {
    font-family: 'Montserrat', sans-serif;
}

header{
    border-bottom: solid 0.5px rgb(106, 171, 255);
    background: rgb(34, 21, 112) url("../img/starcraft/bg_space_border.jpg") repeat scroll center top;
}

footer {
    margin-top: 70px;
    background: rgb(22, 22, 22);
    padding: 2em;
}

footer img{
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

header > a{
    margin-left: 30px;
    margin-top: -10px;
    height: 112px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background: url("../img/starcraft/starcraft_PNG74.png") no-repeat center;
    color: transparent;
}

header > a:hover{
    filter: brightness(130%);
}

nav{
    border-top: solid 0.5px rgb(106, 171, 255);
}

header nav{
    font-family: 'Montserrat';
    background: rgb(0, 0, 0);
    padding: 0 0.8em;
    background: rgb(34, 21, 112) url("../img/starcraft/stars.jpg") repeat scroll center top;
}

header nav a {
    font-family: 'Montserrat';
    text-transform: uppercase;
    display: inline-block;
    padding: 0.8em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid transparent;
}
header nav a:hover{
    color: rgb(106, 171, 255);
    border-bottom: 3px solid rgb(106, 171, 255);
}

header nav .site_off:hover{
    color: rgb(106, 171, 255);
    box-shadow: 0 0 0 3px rgb(106, 171, 255) inset;
    border-bottom: 3px solid rgb(106, 171, 255);
}

main section{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
main section a{
    display: block;
    text-decoration: none;
}
.zerg {
    margin-top: 70px;
    font-family: 'Starcraft';
    color: rgba(123, 2, 153, 0.938);
    text-shadow: 2px 2px 3px rgba(0, 0, 0);
    font-size: 3.6em;
    text-align: center;
}
.terran {
    margin-top: 70px;
    font-family: 'Starcraft';
    color: rgb(33, 105, 172, 0.938);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 3.6em;
    text-align: center;
}
.protoss {
    margin-top: 70px;
    font-family: 'Starcraft';
    color: rgba(212, 175, 5, 0.938);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 3.6em;
    text-align: center;
}
.zerg:hover, .terran:hover, .protoss:hover{
    filter: brightness(200%);
}
footer {
    border-top: 2mm ridge rgba(241, 195, 43, 0.6);
    margin-top: 150px;
    background-image: url('../img/starcraft/stars.jpg');
    padding: 2em;
}
.img_terran {
    background-size: 500px 500px;
    background-image: url('../img/starcraft/terran_logo.png');
}
.img_zerg {
    background-size: 500px 500px;
    background-image: url('../img/starcraft/zerg_logo.png');
}
.img_protoss {
    background-size: 500px 500px;
    background-image: url('../img/starcraft/protoss_logo.png');
}
body {
    background: url("../img/starcraft/bg_space.jpg") repeat scroll;
}